*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav a {
    border: 1px solid white;
    padding: 10px 20px;
    margin: 2px 20px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 30px;
    display: inline-block;
}
header{
    background-color: #0A151E;
    padding: 15px;
}
h1 {
    font-size: 35px;
    color: white;
    display: inline;
    margin-left: 470px;
}
.ultimo_p{
    font-size: 15px;
    a{
        color: white;
    }
    margin-inline: auto;
    width: fit-content;
    margin-top: 100px;
    margin-bottom: 50px;
}
p{
    margin-block: 60px;
    font-size: 40px;
    color: white;
    width: 700px;
    font-family: "Oswald", serif;

}
body{
    background-image: url(../assets/image_20260926_161325.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    width: fit-content;
    margin-inline: auto;
    color: white;
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
}

img{
    width: 20px;
    margin-left: 30px;
}

a{
    color: white;
    text-decoration: none;
}
.instagram{
    margin-inline: auto;
    p{
        width: fit-content;
        margin-inline: auto;
        height: fit-content;
        a{
            color: white;
            font-family: 'Oswald', serif;
        }
        padding: 20px;
    }
    background-color: rgba(225, 48, 108, 1);
    width: 500px;
    border-radius: 30px;
}
.email{
    margin-inline: auto;
    p{
        width: fit-content;
        margin-inline: auto;
        height: fit-content;
        color: white;
        padding: 20px;
    }
    background-color: rgba(234, 67, 53, 1);
    width: 600px;
    border-radius: 30px;
    margin-block: 20px;
}
.linkedin{
    margin-inline: auto;
    p{
        width: fit-content;
        margin-inline: auto;
        height: fit-content;
        a{
            color: white;
            font-family: 'Oswald', serif;
        }
        padding: 20px;
    }
    background-color: rgba(10, 102, 194, 1);
    width: 650px;
    border-radius: 30px;
}