*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../assets/image_20260926_161325.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav a {
    border: 1px solid white;
    padding: 10px 20px;
    margin: 2px 20px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 30px;
    display: inline-block;
}
header{
    background-color: #0A151E;
    padding: 15px;
}
h1 {
    font-size: 35px;
    color: white;
    display: inline;
    margin-left: 470px;
}
.principal {
    margin-top: 100px;
    margin-inline: auto;
    font-size: 40px;
    color: white;
    width: 700px;
    font-family: "Oswald", serif;
    a{
        color: #FFE38A;
        text-decoration: none;
    }
}
p{
    margin-top: 100px;
    margin-inline: auto;
    font-size: 40px;
    color: white;
    width: 700px;
    font-family: "Oswald", serif;
    margin-bottom: 50px;
}
.Github {
    display: block;
    margin-inline: auto;
    font-size: 20px;
    text-decoration: none;
    border: 3px solid white;
    color: black;
    background-color: white;
    border-radius: 30px;
    padding: 10px 30px;
    margin-top: 70px;
    width: 120px;
}

.ultimo_p{
    font-size: 15px;
    a{
        color: white;
    }
    margin-bottom: 100px;
    margin-inline: auto;
    width: fit-content;
}
